@import url(__avatar/profile__avatar.css);
@import url(__container/profile__container.css);
@import url(__info/profile__info.css);
@import url(__title/profile__title.css);
@import url(__subtitle/profile__subtitle.css);
@import url(__buttons/profile__buttons.css);
@import url(__button-small/profile__button-small.css);
@import url(__button-large/profile__button-large.css);
.profile {
    margin: 36px auto 47px auto;
    display: flex;
    width: 68.9%;
    justify-content: space-between;
    max-width: 882px;
    position: relative;
}

@media (max-width: 1080px) {
    .profile {
        flex-direction: column;
        align-items: center;
        margin-bottom: 36px;
    }
}