@import url(__delete/card__delete.css);
@import url(__item/card__item.css);
@import url(__text/card__text.css);
@import url(__header/card__header.css);
@import url(__heart/card__heart.css);
@import url(__heart/_active/card__heart_active.css);
@import url(__likes/card__likes.css);
@import url(__span-like/card__span-like.css);

.card {
    background: #FFFFFF;
    border-radius: 10px;
    max-width: 282px;
    position: relative;
}