.popup__container {
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {
    .popup__container {
        width: 240px;
        max-height: 300px;
        
    }
}