@import url(./vendor/normalize.css);

@import url(../src/blocks/page/page.css);
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/grid/grid.css);
@import url(../src/blocks/card/card.css);
@import url(../src/blocks/footer/footer.css);
@import url(../src/blocks/form/form.css);
@import url(../src/blocks/popup/popup.css);
@import url(../src/blocks/popup/_opened/popup_opened.css);
@import url(../src/blocks/text-form/text-form.css);
@import url(../src/blocks/text-form/_error/text-form_name_error.css);
@import url(../src/blocks/text-form/__input-error/text-form__input-error.css);
@import url(../src/blocks/text-form/__input-error/_active/text-form__input-error_active.css);
@import url(../src/blocks/text-form/_error/text-form_error.css);
@import url(../src/blocks/popup/_opacity/popup_opacity.css);
@import url(../src/blocks/authorization/authorization.css);
