.authorization__nav {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background: #000000;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 374px) {
    .authorization__nav {
        font-size: 12px;
        line-height: 15px;
    }
}