@import url(__logo/header__logo.css);
@import url(__container/header__container.css);
.header {
    max-width: 1280px;
    margin: auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 68.7%;
    max-width: 882px;
}

@media (max-width: 700px) {
    .header {
        width: 100%;
    }
}