@import url(__container/popup__container.css);
@import url(__button-close/popup__button-close.css);
@import url(__cross/popup__cross.css);
@import url(__enlargement/popup__enlargement.css);
@import url(__item/popup__item.css);
@import url(__name/popup__name.css);
@import url(__tooltip-image/popup__tooltip-image.css);
@import url(__tooltip-message/popup__tooltip-message.css);
.popup {
    background: rgba(0, 0, 0, .5);
    display: flex;
    cursor: pointer;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.7s, visibility 0s linear 0.3s;
    -webkit-transition: opacity 0.7s, visibility 0s linear 0.3s;
    -moz-transition: opacity 0.7s, visibility 0s linear 0.3s;
    -ms-transition: opacity 0.7s, visibility 0s linear 0.3s;
    -o-transition: opacity 0.7s, visibility 0s linear 0.3s;
}

